/** ==============WRAPPER==================== */

.wrapper {
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

/** ==============MODIFY===================== */
.--container {
	max-width: 1165px;
	margin: 0 auto;
	padding: .5em;
	box-sizing: content-box;
}


.--ibg {
	position: relative;
}

.--ibg img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

.--nav__title {
	line-height: 1.43;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #C0C0C0;

	margin-bottom: 0.7em;
}

/** ===============PAGE-CONTAINER============= */
.header {
	min-width: 100%;
	min-height: 90px;

}

.page {
	flex: 1 1 auto;
}


.footer {}

.page__products {}

.page__demo {}

.page__cage {}

.page__clients {}

.page__message {}

/** ==============HEADER===================== */

.header__container {}

.header__body {
	display: flex;
	padding: 1.2em 1em 0;
	align-items: center;
	margin: 0 -1em;
}


.header__container a {
	color: #FFFFFF;
	text-decoration: none;
}

.header__logo {
	flex: 0 1 10%;
}

.header__logo img {
	min-width: 100%;
	object-fit: cover;
}

.header__menu {
	flex: 1 90%;
}


.menu {}

.menu__list {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-wrap: wrap;
}

.menu__list>li+li {
	margin-left: 2.28em;
}

.menu__item {
	margin-bottom: .5em;
}


.menu__item>a {
	display: block;
	padding: 0.1em 0;
	font-size: 1.07em;
	/* 15px */
	line-height: 1.33;
}


/** ==============MODIFY-MODULE===================== */
.menu--button {
	max-width: 11.1em;
	min-height: 3em;
	background-color: #fff;
	border-radius: 1em;

}

.menu--button>a {
	display: block;
	padding: 0.6em 1.4em;
	font-size: 1.14em;
	color: #000;
}

/*TODO: ==============================Модуль кнопки с пвсевдоклассом========================================= */

.card__btn {
	position: relative;
	border: none;
	border-radius: 1rem;
	font-family: inherit;
	background-color: #fff;
	cursor: pointer;
	padding: 0.7em 0.7em 0.7em 2.85em;
}

/* псевдоэлемент на кнопку */
.card__btn>span::before {
	content: '';
	position: absolute;
	top: 0.15em;
	left: 0.15em;
	width: 2.28em;
	height: 2.28em;
	background-color: #000;
	border-radius: 1rem;
	transition: all .3s ease;
}


.body--title {
	font-size: 2.35rem;
	/* 40px */
	line-height: 1.05;
	color: #FFFFFF;
	margin-bottom: 0.375em;
}

.body--subtitle {
	font-size: 1.64rem;
	/* 23px */
	line-height: 1.3;
	color: #C0C0C0;
}

/* повышенный индекс для текса */
.card__btn>p {
	position: relative;
	z-index: 2;
}


/* наполнение кнопки черным */
.card__btn:hover.card__btn>span::before {
	top: -0.02em;
	left: -0.03em;
	width: 102%;
	height: 102%;
	background-color: rgb(128, 128, 128);
}

/* замена цвета букв в кнопке */
.card__btn:hover.card__btn>p {
	transition: all .8s ease;
	color: #fff;
}

/** ==============MAIN-PAGE===================== */


.page__main-block {
	position: relative;
	min-height: 100vh;
	background: url('/img/fullscreen.jpg') 0 0 / cover no-repeat;
}

.main-block {}

.main-block__container {
	padding: 31.42em 1.5em 2.8em;
}

.main-block__body {
	position: relative;
	z-index: 10;
}

.main-block__column {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	max-width: 42.8em;
	text-align: center;
}

.main-block__subtitle {
	font-size: 1rem;
	line-height: 1.43;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #C0C0C0;
}

.main-block__title {
	margin: 0.02em 0 0.33em 0;
	font-size: 3.85rem;
	/* 54px */
	line-height: 1.1;
}

.main-block__text {
	font-size: 1rem;
	line-height: 1.43;
	color: #C0C0C0;
}

.main-block__frame {
	float: right;
	margin-right: -10vw;
}

.main-block__frame img {
	padding-right: 6em;
}

.main-block__image {
	height: 100%;
	width: 100%;
}



/** ==============PRODUCTS-PAGE===================== */
.page__products {}

.products__container {
	padding: 8.57em 1.5em 7.14em;
}

.products__body {
	margin-bottom: 2.85em;
}

.products__body__header {
	text-align: center;
}

/** ==============PRODUCTS-CARD===================== */

.products__card {
	display: flex;
	flex-wrap: wrap;
	margin: -.5em;
}

.products__card-row {
	flex: 0 1 50%;
}

.card {
	position: relative;
	min-width: 500px;
	min-height: 600px;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	overflow: hidden;
	margin: 0 1.14em 1.14em 0;

}


.card__body {
	position: relative;
	z-index: 10;
	line-height: 1.43;
	padding: 0 2.14em 2.14em;

	transform: translateY(38%);
	transition: all 0.8s ease;
}

.card__body>*:not(:last-child) {
	margin-bottom: 1em;
}

.card__title {
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #FFFFFF;
}

.card__text {
	color: #C0C0C0;
}

.card__img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.card__img img {
	min-width: 100%;
	object-fit: cover;
	transition: all 0.8s ease;
}

.card:hover .card__body {
	transform: translateY(0);
}

.card:hover .card__img>img {
	transform: scale(1.2);

}

/** ==============DEMO-PAGE===================== */

.page__demo-container {}

.demo {
	position: relative;
	min-height: 100%;
}

.demo__img {}

.demo__img img {
	min-width: 100%;
	object-fit: cover;

}

/** ==============CAGE-PAGE===================== */

.cage {
	margin-top: -.2em;
}

.cage__container {}

.cage__row {
	display: flex;
}

.cage__image {
	position: relative;
	min-width: 50%;
}

.cage__image img {
	position: absolute;
	top: 0;
	left: 0;
	max-width: 100%;
	min-height: 100%;
	object-fit: cover;

}

.cage__body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 12.3em 7.14em;
}

.cage__item {
	line-height: 1.43;
	color: #FFFFFF;
}

.cage__title {
	font-size: 1rem;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #C0C0C0;
	margin-bottom: 0.5em;
}

.cage__subtitle {
	font-size: 2rem;
	/* 28px */
	margin-bottom: .5em;
}

.cage__text {
	font-size: 1rem;
	margin-bottom: 1.42em;

}

.cage__btn {}


/** ==============CLIENTS-PAGE===================== */

.clients {
	padding: 8.57em .5em 7.14em;
}

.clients__container {
	display: flex;
	flex-direction: column;
}

.clients___body {
	margin-bottom: 5.7em;
}

.clients__body__header {
	text-align: center;
}

.clients___body__title {}

.clients__body__text {}

.clients__row {}

.clients__body__items {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 -1.5em;
	flex-wrap: wrap;
}

.clients__item {
	padding: 1.5em;

}


/** ==============MESSAGE-PAGE===================== */

.message {}

.message__container {}

.message___body {
	padding: 8.57em 10em;
}

.message__body__header {
	margin: 0 auto;
	text-align: center;
	max-width: 575px;
}

.message__title {}

.message__text {
	margin-bottom: 1em;
}

.message__btn {}

/** ==============NAVIGATION-FOOTER==================== */

.footer__container {}

.footer__body {
	display: flex;
	padding-bottom: 2.57em;
}

.footer__body a {
	text-decoration: none;
	line-height: 1.43;
	color: #FFFFFF;
}

.footer__logo {
	padding: 0 .5em;
	flex: 0 1 60%;
}

.logo {}

.logo__text {
	margin-top: 1.7em;
}

.footer__business__nav {
	padding: 0 .5em;
	flex: 0 1 20%;
}


.nav__bus {}

.nav__bus__list {}

.nav__bus__list>*:not(:last-child) {
	margin-bottom: 0.7em;
}

.nav__bus__item a {
	display: inline-block;
}

.footer__nav__pages {
	padding: 0 .5em;
	flex: 0 1 20%;
}

.pages__nav {}

.pages__nav__list {}


.pages__nav__list>*:not(:last-child) {
	margin-bottom: 0.7em;
}

.pages__nav__item a {
	display: inline-block;
}

.pages__nav__list a:hover,
.nav__bus__list a:hover {
	transform: scale(1.02);
}

/** ==============SUBSCRIBE-FOOTER==================== */

.footer__subscribe {}

.subscribe {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2.57em 1em;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
}


.subscribe__body {
	margin: 0 0 0 -1em;
	flex: 0 1 60%;
}

.subscribe__title {
	line-height: 1.43;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #FFFFFF;

	margin-bottom: 1.42em;
}

.subscribe__text {
	font-size: 0.92rem;
	line-height: 1.54;
	color: #C0C0C0;
}

.subscribe__item {
	position: relative;
	margin-right: -1em;
	flex: 0 1 40%;
}

.subscribe__input {
	position: relative;
	display: block;
	font-size: 2rem;
	width: 100%;
	height: 1.7em;
	background: #F9FAFB;
	border: 1px solid #E5E7EB;
	border-radius: 12px;
	box-sizing: border-box;
	padding: 0.1em 0 0.1em 0.4em;
}


.subscribe__input::placeholder {
	opacity: 0.4;
}

.subscribe__input:focus {
	outline: none;
	/* скинуть с инпута линию обводки */
	box-shadow: 0 0 1rem 0.5rem rgba(158, 158, 158, 0.5);
}


.subscribe__btn {
	display: block;
	content: '';
	position: absolute;
	top: 0.4em;
	right: 0.4em;
	width: 4.28em;
	height: 2.6em;
	background-color: #000;
	border-radius: 1rem;
	cursor: pointer;
}

/** ==============LICENSE-FOOTER==================== */

.footer__license {}

.license {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 4.14em 0;
}

.license__author {
	flex: 0 1 90%;
	padding: 0 1em;
	font-size: 0.9rem;
	/* 13px */
	line-height: 1.54;
	color: #C0C0C0;
}

.license__social {
	flex: 0 1 10%;
}

.license__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.license__item {}


.license__item>a {
	padding: 0 .5em;
}

.license__item:hover {
	transform: scale(1.1);
}